# - type: stdio
#   server:
#     command: uv
#     args:
#       [
#         "run",
#         "--directory",
#         "/Users/aw/Projects/rectalogic/blender-mcp",
#         "blender-mcp",
#         "--blender-path",
#         "/Applications/Blender.app/Contents/MacOS/Blender",
#       ]
# - type: stdio
#   server:
#     command: uvx
#     args:
#       [
#         "--from",
#         "https://github.com/rectalogic/blender-mcp.git",
#         "blender-mcp",
#         "--blender-path",
#         "/Applications/Blender.app/Contents/MacOS/Blender",
#       ]
- type: stdio
  server:
    command: npx
    args: ["-y", "@modelcontextprotocol/server-filesystem", "."]
# - type: stdio
#   server:
#     command: npx
#     args: ["@playwright/mcp@latest"]
# - type: http
#   server:
#     url: https://XXX
